/* .description-title{
			color: darkblue;
			font-weight: bolder;
			font-style: normal;
}

.sidebar-title{
			color: darkblue;
			font-weight: bolder;
			font-style: normal;
} */

body{
			background: url("../img/milkandcookies.gif");
			background-size: cover;

}

.img-circle{
			width: 150px;
			height: 150px;
}

.card-block{
			border: solid;
			border-color: green; 
			border-width: 2px;

}

h1{
			color: red;
			background-color: hsla(0, 8%, 38%, 0.41);;


}
